#include "windows.h"
#include "build.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION VERSION_STR_DWORD
PRODUCTVERSION PRODUCT_VER_DWORD
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004B0"
        BEGIN
            VALUE "FileDescription", "\0"
            VALUE "FileVersion", VERSION_STRING
            VALUE "InternalName", "fsproxyopen\0"
            VALUE "LegalCopyright", COMMON_LEGALCOPYRIGHT
            VALUE "OriginalFilename", "fsproxyopen.exe\0"
            VALUE "ProductName", "FSTools\0"
            VALUE "ProductVersion", PRODUCT_VER_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000, 0x04B0
    END
END
